<ng-container *ngIf="todos">
    <ul class="list-group m-5" >
        <li class="list-group-item">{{todos.name}}</li>
        <li class="list-group-item">{{todos.email}}</li>
        <li class="list-group-item">{{todos.phone}}</li>
        <li class="list-group-item">{{todos.username}}</li>
        <li class="list-group-item">{{todos.website}}</li>
        <li class="list-group-item">address: {{todos.address.street}},city: {{todos.address.city}}, zipcode: {{todos.address.zipcode}}</li>
        <li class="list-group-item">company name: {{todos.company.name}},catchPhrase: {{todos.company.catchPhrase}}, bs:{{todos.company.bs}}</li>
    </ul>
</ng-container>