<ng-container *ngIf="todos">
    <ul class="list-group m-5" >
        <li class="list-group-item">{{todos.name}}</li>
        <li class="list-group-item">{{todos.email}}</li>
        <li class="list-group-item">{{todos.phone}}</li>
        <li class="list-group-item">{{todos.username}}</li>
        <li class="list-group-item">{{todos.website}}</li>
        <!-- <a class="list-group-item"  [routerLink]="['author/news/', todos.userId ]" >ავტორის სტატიები</a> -->
    </ul>
</ng-container>
<!-- address: {street: "Kulas Light", suite: "Apt. 556", city: "Gwenborough", zipcode: "92998-3874", geo: {…}}
company: {name: "Romaguera-Crona", catchPhrase: "Multi-layered client-server neural-net", bs: "harness real-time e-markets"}
email: "Sincere@april.biz"
id: 1
name: "Leanne Graham"
phone: "1-770-736-8031 x56442"
username: "Bret"
website: "hildegard.org" -->